pymongo~=3.12.1
certifi~=2021.10.8
pytest~=6.2.5
jsonschema~=4.2.1
py~=1.11.0
colorama~=0.4.4
dnspython~=1.16.0
idna~=3.2
pip~=21.3.1
toml~=0.10.2
wheel~=0.37.0
tornado~=6.1
attrs~=21.2.0
wcwidth~=0.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
numpy~=1.21.2
winkerberos~=0.8.0
pyparsing~=2.4.7
setuptools~=49.2.1