<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <!-- Load an icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <nav>
        <img src="/images/icon.png" class="alinear-derecha" width=4%/>
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/services">Services</a>
        <a href="/review">Make a review</a>
      </nav>
    </div>

    <main>{{ block "main" . -}}{{- end }}</main>
    <footer>
      <p>Copyright {{now.Format "2006"}} Me.</p>
    </footer>
  </body>
</html>
