* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
  background-color: rgb(217, 243, 211);
  background-image: url(https://cadenaser00.epimg.net/ser/imagenes/2021/04/08/ciencia/1617866705_638557_1617869065_noticia_normal.jpg);
}

nav {
  background-color: rgb(189, 231, 220);
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
nav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
  display: none;
}
h1 {
  text-align: center;
  padding-left: 0.5%;
  background-color: rgb(189, 231, 220);
}
.alinear-derecha{
  float: right;
  margin-right: 1%;
  }
.content {
  background-color:rgb(231, 208, 235) ;
  margin-left: 10%;
  padding: 1%;
  width: 20%;
  color: rgb(0, 0, 0);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(189, 231, 220);
  color: rgb(0, 0, 0);
  text-align: center;
}

footer p {
  padding-left: 0.5%;
}

.review h4 {
  color: #04aa6d;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
  .service-container {
    display: flex;
  }
  .service-container .service-list {
    width: 20%;
  }
  .service-container .service {
    flex: 1;
  }
}
ul {
  background-color: rgb(189, 231, 220);
  margin-right: 50%;
}
li {
  border-bottom: 3px solid black;
}
.service{
  background-color:rgb(231, 208, 235) ;
  padding: 1%;
}